<style>

</style>

<p>
    Ich habe vor mir in einem Regal nebeneinander Uhren in einer Reihe stehen. Zwei davon sind
    Kuckucksuhren. Eine Kuckucksuhr ist die sechste Uhr von links, die andere ist die achte Uhr von
    rechts! Zwischen den beiden Kuckucksuhren stehen genau drei andere Uhren.
</p>
<p>
    Wie viele Uhren stehen mindestens im Regal?
</p>


<div class="question-image-wrapper">
    <div class="question-image" style="background-image: url('${rootPath}images/hints/clock.jpg')">
    </div>
</div>