<style>
    .question-image {
        width: 100%;
        font-size: 50pt;
        display: flex;
        justify-content: space-around;
    }
</style>

<p>
    Vor einer Eisdiele stehen fünf Mädchen in einer langen Schlange. Melina und Pauline stehen zwischen Emma und Lilli. Und zwischen Melina und Ida stehen Pauline und Lilli. Wie heißt das dritte Mädchen?
</p>

<div class="question-image-wrapper">
    <div class="question-image">
        <span style='color: green'>4</span>
        <span style='color: red'>3</span>
        <span style='color: violet'>7</span>
        <span style='color: orange'>?</span>
    </div>
</div>