<style>
    .question-image {
        width: 100%;
        font-size: 50pt;
        display: flex;
        justify-content: space-around;
    }
</style>

<p>
    Als der Vater in die Küche kommt, sind darin gerade seine drei Töchter lautstark am Streiten, wer denn klammheimlich das letzte Stück Nusstorte gegessen hat. Marie zeigt auf ihre Schwester Anni und sagt: "Du warst das!" Darauf macht Anni ein unschuldiges
    Gesicht und meint: "Aber nein, ich bin es nicht gewesen!" Wiebke zuckt nur die Schultern "Also ich war's ja ganz bestimmt nicht!" Der Vater verlässt lächelnd die Küche. Er hat gesehen wer es war und weiß deshalb, dass nur eine die Wahrheit gesagt
    hat.
</p>

<div class="question-image-wrapper">
    <div class="question-image">
        <span style='color: green'>4</span>
        <span style='color: red'>3</span>
        <span style='color: violet'>7</span>
        <span style='color: orange'>?</span>
    </div>
</div>