<style>

</style>

<p>
    Als der Vater in die Küche kommt, sind darin gerade seine drei Töchter lautstark am Streiten, wer denn klammheimlich das letzte Stück Guglhupf gegessen hat.
</p>
<p>
    Emma zeigt auf ihre Schwester Lena und sagt: "Du warst das!" Darauf macht Lena ein unschuldiges Gesicht und meint: "Aber nein, ich bin es nicht gewesen!" Anna zuckt nur die Schultern "Also ich war's ja ganz bestimmt nicht!" Der Vater verlässt lächelnd
    die Küche. Er hat gesehen wer es war und weiß deshalb, dass nur eine die Wahrheit gesagt hat.
</p>

<div class="question-image-wrapper">
    <div class="question-image" style="background-image: url('${rootPath}images/hints/cake.png')">
    </div>
</div>