<style>
    .question-image {
        width: 100%;
        font-size: 50pt;
        display: flex;
        justify-content: space-around;
    }
</style>

<p>
    In einem Zug befinden sich mehrere Menschen. 19 Menschen steigen an der ersten Station aus. 17 steigen ein. Jetzt befinden sich 63 Menschen in dem Zug. Wie viele Menschen sitzen von Anfang an im Zug?
</p>

<div class="question-image-wrapper">
    <div class="question-image">
        <span style='color: green'>4</span>
        <span style='color: red'>3</span>
        <span style='color: violet'>7</span>
        <span style='color: orange'>?</span>
    </div>
</div>